@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="padding-top:100px;">
    <h2>Person Shoe Relationships</h2>
    @using (Html.BeginForm("Index","Home",FormMethod.Get, new { enctype = "multipart/formdata" }))
    {
        <div class="row">
            <div class="col-md-10 center-block">
                <div class="form-group">
                    <table class="table" border="1">
                        <tr>
                            <td>Person-Name</td>
                            <td>Age</td>
                            <td>Gender</td>
                            <td>Shoe Name</td>
                            <td>Size</td>
                            <td>Type</td>
                            <td>Make</td>
                            <td>Color</td>
                        </tr>
                        
                        
                    </table>
                </div>
            </div>
        </div>
    }
</div>


